{% load static %}
{% load bootstrap3 %}
{% load website_extras %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Roboto:300"> 
        <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
        
        <link rel="icon" type="image/png" href="{% static 'website/images/favicons/favicon.ico' %}" sizes="16x16">
        
        <title>AstroPlant</title>
        {% block head_ext %}
        {% endblock %}
    </head>
    <body>
        <header class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'website:index' %}" >AstroPlant</a>
                </div>
                <nav id="main-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% navigation_active request 'website:index' %}">
                            <a href="{% url 'website:index' %}">{% bootstrap_icon 'home' %}  Home</a>
                        </li>
                        <li class="{% navigation_active request 'website:map' %}">
                            <a href="{% url 'website:map' %}">{% bootstrap_icon 'map-marker' %}  Map</a>
                        </li>
                        <li>
                            <a href="#">{% bootstrap_icon 'grain' %} Learn</a>
                        </li>
                        {% if user.is_authenticated %}   
                            <li>
                                <a href="{% url 'website:dashboard' %}">{% bootstrap_icon 'dashboard' %} Dashboard</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {% bootstrap_icon 'user' %} {% if user.get_full_name %} {{ user.get_full_name }} {% else %} {{ user.username }} {% endif %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'auth_logout' %}"><span class="text-danger">{% bootstrap_icon 'off' %} Log out</span></a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'auth_login' %}">{% bootstrap_icon 'log-in' %}  Log-in</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="content-header" tabindex="-1">
                <div class="container">
                    {% block header %}
                    {% endblock %}
                </div>
            </div>
            {% if messages %}
                <div class="container">
                    {% bootstrap_messages %}
                </div>
            {% endif %}
            <!-- Main content -->
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="container">
                AstroPlant &copy; 2017 by <a href="http://www.borderlabs.org/">Border Labs</a>. Source code available on <a href="https://github.com/astroplant">GitHub</a>.
            </div>
        </footer>
        
        {% block javascript %}
        {% endblock %}
    </body>
</html>
