{% load static %}
{% load bootstrap4 %}
{% load website_extras %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="{% static 'website/js/main.js' %}"></script>
        
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Roboto:300"> 
        <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
        
        <link rel="icon" type="image/png" href="{% static 'website/images/favicons/icon.png' %}" sizes="16x16">
        
        <title>{% block title %}AstroPlant{% endblock %}</title>
        {% block head_ext %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav id="main-navbar" class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'website:index' %}">
                    AstroPlant
                </a>
            
                <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#main-navbar-items" aria-controls="main-navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    {% icon 'bars' %}
                </button>                
                
                
                
                <div id="main-navbar-items" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% navigation_active request 'website:index' %}">
                            <a class="nav-link" href="{% url 'website:index' %}">{% icon 'home' %}  Home</a>
                        </li>
                        <li class="nav-item {% navigation_active request 'website:map' %}">
                            <a class="nav-link" href="{% url 'website:map' %}">{% icon 'map-marker' %} Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://astroplant.io">{% icon 'pagelines' %} About AstroPlant</a>
                        </li>
                        {% if user.is_authenticated %}   
                            <li class="nav-item {% navigation_active request 'website:dashboard website:kit' %}">
                                <a class="nav-link" href="{% url 'website:dashboard' %}">{% icon 'dashboard' %} Dashboard</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {% user_avatar user 32 %} {% if user.get_full_name %} {{ user.get_full_name }} {% else %} {{ user.username }} {% endif %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="{% url 'auth_logout' %}"><span class="text-danger">{% icon 'power-off' %} Log out</span></a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'registration_register' %}">{% icon 'plus' %} Create account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'auth_login' %}">{% icon 'sign-in' %} Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <main>
            <div class="content-header" tabindex="-1">
                <div class="container">
                    {% block header %}
                    {% endblock %}
                </div>
            </div>
            {% if messages %}
                <div class="container">
                    {% bootstrap_messages %}
                </div>
            {% endif %}
            <!-- Main content -->
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="container">
                AstroPlant &copy; 2018-2019 by <a href="http://www.borderlabs.org/">Border Labs</a>. Source code available on <a href="https://github.com/astroplant">GitHub</a>.
            </div>
        </footer>
        
        {% block javascript %}
        {% endblock %}
    </body>
</html>
