{% extends 'website/base.html' %}

{% load static %}
{% load website_extras %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block header %}
    <h1>Dashboard</h1>
    <p>Analyze your kit</p>
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'website:kit_add' %}" title="Add kit" type="button" class="btn btn-secondary btn-block">{% icon 'plus' %} Add kit</a>
        
        <hr>
        
        <div class="row" id="kit-list">
            {% for kit in kits %}
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ kit.name }}</h4>
                            <p class="pull-left">{{ kit.description }}</p>
                            <a href="{% url 'website:kit' kit.id %}" title="Access kit" type="button" class="btn btn-primary pull-right">{% icon 'chevron-right' %} Open</a>                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

