{% extends 'website/base.html' %}

{% load static %}
{% load website_extras %}

{% block header %}
<h1>AstroPlant Prototype</h1>
<p>Be a space farmer</p>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Grow plants in space</h1>
    <p>Welcome, space farmer!</p>
    <p>
AstroPlant is an educational citizen science project with the European Space Agency to engage a new generation of space
        farmers, collect data and ideas for agriculture on Mars, develop open source research equipment, and create
        awareness of regenerative and closed-loop life support systems. We have built a prototype plant lab that collects
        and shares open data about plant growth in different grow environments and are working on an open lab-infrastructure
        that makes it possible for everyone to contribute to science and space exploration—and to get to know more about
        topics such as plant science and biology, space science, engineering, electronics, open innovation and the circular economy.
    </p>
    <div class="row">
        <div class="col-xs-12 col-lg mb-3 mb-lg-0">
            <h3 class="title">{% icon 'map-marker' %} See</h3>
            <p>See the AstroPlant kits in the world.</p>
            <div class="more">
                <a href="{% url 'website:map' %}" title="Map" type="button" class="btn btn-primary btn-lg outline">{% icon 'caret-right' %} Show map</a>
            </div>
        </div>

        <div class="col-xs-12 col-lg mb-3 mb-lg-0">
            <h3 class="title">{% icon 'pagelines' %} Learn</h3>
            <p>Learn about growing plants and AstroPlant.</p>
            <div class="more">
                <a href="http://astroplant.io" title="Learn" type="button" class="btn btn-primary btn-lg outline">{% icon 'caret-right' %} Read more</a>
            </div>
        </div>

        <div class="col-xs-12 col-lg mb-3 mb-lg-0">
            <h3 class="title">{% icon 'dashboard' %} Analyze</h3>
            <p>Analyze real-time AstroPlant data.</p>
            <div class="more">
                <a href="#" title="Systems" type="button" class="btn btn-primary btn-lg outline">{% icon 'caret-right' %} Analyze System</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

