{% extends 'website/base.html' %}

{% load static %}
{% load bootstrap3 %}
{% load rules %}

{% block title %}
    {% if can_view_kit_dashboard %}{{ kit.name }} - {{ block.super }}{% else %}Kit not found - {{ block.super }}{% endif %}
{% endblock %}


{% block head_ext %}
    {% if can_view_kit_dashboard %}
        <link rel="stylesheet" href="{% static 'website/css/dashboard.css' %}">
        
        <script src="{% static 'website/js/dashboard.js' %}"></script>
    {% endif %}
{% endblock %}

{% block header %}
    {% if not can_view_kit_dashboard %}
        <h1>Oops!</h1>
    {% else %}
        <h1>{{ kit.name }}</h1>
        <p>{{ kit.description }}</p>
    {% endif %}
{% endblock %}


{% block content %}
    {% if not can_view_kit_dashboard %}
        <div class="container">
            <p>Sorry! That kit was not found, or you do not have access to it. If you own a kit, you can <a href="{% url 'website:kit_add' %}">add</a> it.</p>
        </div>
    {% else %}
        
        {% has_perm 'backend.configure_kit' user kit as can_configure %}
    
        <div class="container dashboard">
            {% if can_configure %}
                <div class="row">
                    <div class="col-sm-12" style="text-align: right; margin-bottom: 0.5em;">
                        <a href="{% url 'website:kit_configure_profile' kit.pk %}">{% bootstrap_icon 'edit' %} Configure kit</a>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Test!
                        </div>
                        <div class="chart-stage">
                            <div class="row">
                                <div class="col-xs-3 tabs tabs-left">
                                    <ul class="nav nav-tabs nav-stacked">
                                        <li class="active"><a href="#chart_temperature" data-toggle="tab">Temperature</a></li>
                                        <li><a href="#chart_ec" data-toggle="tab">EC</a></li>
                                        <li><a href="#chart_light" data-toggle="tab">Light</a></li>
                                        <li><a href="#chart_ph" data-toggle="tab">pH</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-9">
                                    <div id="chart-1-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Current experiment progress
                        </div>
                        <div class="chart-stage">
                            <div id="chart-1-2"></div>
                        </div>
                        <div class="chart-notes">
                            Notes about this chart (optional)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Temperature
                        </div>
                        <div class="chart-stage">
                            <div id="chart-2-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Experiment duration
                        </div>
                        <div class="chart-stage">
                            <div id="chart-2-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            And some other data
                        </div>
                        <div class="chart-stage">
                            <div id="chart-2-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            var chart1 = c3.generate({
                bindto: "#chart-1-1",
                data: {
                    x: 'x',
                    xFormat: '%Y-%m-%dT%H:%M:%S.%LZ',
                    columns: [
                        /*['x', '2017-10-01', '2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05', '2017-10-06', '2017-10-07', '2017-10-08', '2017-10-09', '2017-10-10', '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-14', '2017-10-15', '2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20', '2017-10-21', '2017-10-22', '2017-10-23', '2017-10-24', '2017-10-25'],
                        ['Temperature', 16.5, 16, 17, 17.5, 16.5, 15, 14.2, 14.3, 16, 18.8, 23.5, 25.9, 26.8, 27.8, 29.8, 30.2, 28.3, 27.7, 24.6, 22.2, 20.5, 19.8, 18.2, 17, 15.8]*/
                        ['x'],
                        ['Temperature']
                    ],
                    type: 'area-spline'
                },
                type: 'timeseries',
                axis: {
                    x: {
                        'type': 'timeseries',
                        tick: {
                            format: '%Y-%m-%d %H:%M:%S',
                            count: 4
                        },
                        padding: 0
                    },
                    y: {
                        min: 0,
                        max: 30,
                        label: "°C",
                        padding: {
                            top: 5,
                            bottom: 0
                        }
                    }
                },
                size: {
                    height: 210
                }
            });
            
            var chart2 = c3.generate({
                bindto: "#chart-1-2",
                data: {
                    columns: [
                        ['data', 91.4]
                    ],
                    type: 'gauge'
                },
                gauge: {
                },
                color: {
                    pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                    threshold: {
                        values: [30, 60, 90, 100]
                    }
                },
                size: {
                    height: 200
                }
            });
            
            var chart3 = c3.generate({
                bindto: "#chart-2-1",
                data: {
                    columns: [
                        ['data', 0]
                    ],
                    type: 'gauge'
                },
                gauge: {
                    label: {
                        format: function(value, ratio) {
                            return value.toFixed(2); //returning here the value and not the ratio
                        },
                    },
                    min: 0,
                    max: 50,
                    units: 'degrees celsius'
                },
                color: {
                    pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                    threshold: {
                        values: [30, 60, 90, 100]
                    }
                },
                size: {
                    height: 240
                }
            });
            
            var chart4 = c3.generate({
                bindto: "#chart-2-2",
                data: {
                    columns: [
                        ['1', 21],
                        ['2', 29],
                        ['3', 26],
                        ['4', 35],
                    ],
                    type : 'donut'
                },
                color: {
                    pattern: ['#1e515b', '#2e7a89', '#3b9caf', '#75c1d0']
                },
                size: {
                    height: 240
                }
            });
            
            var chart5 = c3.generate({
                bindto: "#chart-2-3",
                data: {
                    columns: [
                        ['Data', 30, 200, 100, 400, 150, 250]
                    ],
                    type: 'bar'
                },
                bar: {
                    width: {
                        ratio: 0.90 // this makes bar width 50% of length between ticks
                    }
                },
                size: {
                    height: 240
                }
            });
            
            var ws = new WebSocket("ws://localhost:8000");

            ws.onmessage = function(str) {
                var data = JSON.parse(str.data);
                console.log("Received: ", data);
                if (!data.value)
                {
                    return;
                }
                
                var currentdate = new Date(); 
                
                chart1.flow({
                    columns: [
                        ['x', currentdate.toISOString()],
                        ['Temperature', data.value]
                    ],
                    length: 0 // Don't pop
                });
                
                chart3.load({
                    columns: [
                        ['data', data.value]
                    ]
                });
            };

            ws.onopen = function() {
                ws.send(JSON.stringify({
                    stream: 'measurements-subscribe',
                    payload: {
                        action: 'subscribe',
                        kit: 'c597de985bf63876d247d63462d4c10e1ad137b9dcbb2a4b36b3665b528e17f8'
                    }
                }));
            }


        </script>
    {% endif %}
{% endblock %}
