{% extends 'website/base.html' %}

{% block head_ext %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
{% endblock %}

{% load static %}
{% load bootstrap3 %}

{% block header %}
    {% if not kit or not membership %}
        <h1>Oops!</h1>
    {% else %}
        <h1>{{ kit.name }}</h1>
        <p>{{ kit.description }}</p>
    {% endif %}
{% endblock %}


{% block content %}
    {% if not kit or not membership %}
        <div class="container">
            Sorry! That kit was not found, or you do not have access to it. If you own a kit, you can <a href="{% url 'website:kit_add' %}">add</a> it.
        </div>
    {% else %}
        <div class="container">
            Test
        </div>
    {% endif %}
{% endblock %}
