{% extends 'website/base.html' %}

{% load static %}
{% load rules %}
{% load website_extras %}

{% block title %}
    {% if can_view_kit_dashboard %}{{ kit.name }} - {{ block.super }}{% else %}Kit not found - {{ block.super }}{% endif %}
{% endblock %}


{% block head_ext %}
    {% if can_view_kit_dashboard %}
        <link rel="stylesheet" href="{% static 'website/css/dashboard.css' %}">
        
        <script src="{% static 'website/js/dashboard.js' %}"></script>
    {% endif %}
{% endblock %}

{% block header %}
    {% if not can_view_kit_dashboard %}
        <h1>Oops!</h1>
    {% else %}
        <h1>{{ kit.name }}</h1>
        <p>{{ kit.description }}</p>
    {% endif %}
{% endblock %}


{% block content %}
    {% if not can_view_kit_dashboard %}
        <div class="container">
            <p>Sorry! That kit was not found, or you do not have access to it. If you own a kit, you can <a href="{% url 'website:kit_add' %}">add</a> it.</p>
        </div>
    {% else %}
        
        {% has_perm 'backend.configure_kit' user kit as can_configure %}
    
        {% with kit.active_peripherals_and_quantity_types as active_peripherals_and_quantity_types %}
            <div class="container dashboard">
                <div class="row">
                    <div class="col-12 text-right mb-2">
                        <a href="{% url 'website:kit_download' kit.pk %}">{% icon 'download' %} Download data</a>
                        {% if can_configure %}
                            <span class="ml-3"><a href="{% url 'website:kit_configure_profile' kit.pk %}">{% icon 'cog' %} Configure kit</a></span>
                        {% endif %}
                    </div>
                    {% if active_peripherals_and_quantity_types %}
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-header text-muted">
                                    Line charts
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-3">
                                            <ul class="nav nav-pills flex-column" role="tablist">
                                                {% for peripheral, quantity_type in active_peripherals_and_quantity_types %}
                                                    <li class="nav-item">
                                                        <a class="nav-link{% if forloop.first %} active{% endif %}" href="#chart-line-{{ peripheral.pk }}-{{ quantity_type.pk }}" data-toggle="tab" role="tab" aria-controls="chart-line-{{ peripheral.pk }}-{{ quantity_type.pk }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                                            {{ quantity_type.physical_quantity }}
                                                            <br>
                                                            <small>{{ peripheral }}</small>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-7 col-lg-9 tab-content">
                                            {% for peripheral, quantity_type in active_peripherals_and_quantity_types %}
                                                <div class="tab-pane fade {% if forloop.first %} show active{% endif %}" id="chart-line-{{ peripheral.pk }}-{{ quantity_type.pk }}" role="tabpanel" aria-labelledby="chart-line-{{ peripheral.pk }}-{{ quantity_type.pk }}-tab"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% for peripheral, quantity_type in active_peripherals_and_quantity_types %}
                            <div class="col-sm-4">
                                <div class="card mb-4">
                                    <div class="card-header text-muted">
                                        {{ quantity_type.physical_quantity }}
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-{{ peripheral.pk }}-{{ quantity_type.pk }}"></div>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{ peripheral }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header text-muted">
                                    No active peripherals making measurements
                                </div>
                                <div class="card-body">
                                    This kit currently has no active peripherals making measurements.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <script>
                var charts = {};
            
                function generate_chart(id, physical_quantity, physical_unit) {
                    if (physical_quantity == "Temperature" && physical_unit == "Degrees Celsius") {
                        return c3.generate({
                            bindto: id,
                            data: {
                                columns: [
                                    ['data', 0]
                                ],
                                type: 'gauge'
                            },
                            gauge: {
                                label: {
                                    format: function(value, ratio) {
                                        return value.toFixed(2); // return the value and not the ratio
                                    },
                                },
                                min: 0,
                                max: 50,
                                units: '°C'
                            },
                            color: {
                                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                                threshold: {
                                    values: [0, 10, 20, 25]
                                }
                            }
                        });
                    } else if (physical_quantity == "Pressure" && physical_unit == "Hectopascal") {
                        return c3.generate({
                            bindto: id,
                            data: {
                                columns: [
                                    ['data', 0]
                                ],
                                type: 'gauge'
                            },
                            gauge: {
                                label: {
                                    format: function(value, ratio) {
                                        return value.toFixed(2); // return the value and not the ratio
                                    },
                                },
                                min: 920,
                                max: 1080,
                                units: 'hPa'
                            },
                            color: {
                                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                                threshold: {
                                    values: [920, 990, 1010, 1040]
                                }
                            }
                        });
                    } else if (physical_quantity == "Humidity" && physical_unit == "Percent") {
                        return c3.generate({
                            bindto: id,
                            data: {
                                columns: [
                                    ['data', 0]
                                ],
                                type: 'gauge'
                            },
                            gauge: {
                                label: {
                                    format: function(value, ratio) {
                                        return value.toFixed(2); // return the value and not the ratio
                                    },
                                },
                                min: 0,
                                max: 100,
                                units: '%'
                            },
                            color: {
                                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                                threshold: {
                                    values: [0, 20, 60, 80]
                                }
                            }
                        });
                    } else if (physical_quantity == "Concentration" && physical_unit == "Parts per million") {
                        return c3.generate({
                            bindto: id,
                            data: {
                                columns: [
                                    ['data', 0]
                                ],
                                type: 'gauge'
                            },
                            gauge: {
                                label: {
                                    format: function(value, ratio) {
                                        return value.toFixed(2); // return the value and not the ratio
                                    },
                                },
                                min: 0,
                                max: 1600,
                                units: 'PPM'
                            },
                            color: {
                                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                                threshold: {
                                    values: [0, 400, 600, 800]
                                }
                            }
                        });
                    } else if (physical_quantity == "Light intensity" && physical_unit == "Lux") {
                        return c3.generate({
                            bindto: id,
                            data: {
                                columns: [
                                    ['data', 0]
                                ],
                                type: 'gauge'
                            },
                            gauge: {
                                label: {
                                    format: function(value, ratio) {
                                        return value.toFixed(2); // return the value and not the ratio
                                    },
                                },
                                min: 0,
                                max: 125000,
                                units: 'Lx'
                            },
                            color: {
                                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                                threshold: {
                                    values: [0, 300, 1000, 2000]
                                }
                            }
                        });
                    }
                }
                
                {% for peripheral, quantity_type in active_peripherals_and_quantity_types %}
                    {% with recent_measurements|key_value:peripheral|key_value:quantity_type|to_list as measurements %}
                        var line_chart_{{ peripheral.pk }}_{{ quantity_type.pk }} = c3.generate({
                            bindto: "#chart-line-{{ peripheral.pk }}-{{ quantity_type.pk }}",
                            data: {
                                x: 'x',
                                xFormat: '%Y-%m-%dT%H:%M:%S.%LZ',
                                columns: [
                                    ['x'{% for measurement in measurements %}, new Date("{{ measurement.date_time.isoformat }}"){% endfor %}],
                                    ['{{ quantity_type.physical_quantity }}'{% for measurement in measurements %}, {{ measurement.value }}{% endfor %}]
                                ],
                                type: 'area'
                            },
                            type: 'timeseries',
                            axis: {
                                x: {
                                    'type': 'timeseries',
                                    tick: {
                                        format: '%Y-%m-%d %H:%M:%S',
                                        count: 4
                                    },
                                    padding: 0
                                },
                                y: {
                                    label: "{{ quantity_type.physical_unit_symbol }}",
                                    padding: {
                                        top: 5,
                                        bottom: 0
                                    }
                                }
                            },
                            size: {
                                height: 210
                            }
                        });
                    {% endwith %}
                    charts['line_chart_{{ peripheral.pk }}_{{ quantity_type.pk }}'] = line_chart_{{ peripheral.pk }}_{{ quantity_type.pk }};
                    
                    var gauge_chart_{{ peripheral.pk }}_{{ quantity_type.pk }} = generate_chart("#chart-{{ peripheral.pk }}-{{ quantity_type.pk }}", "{{ quantity_type.physical_quantity }}",  "{{ quantity_type.physical_unit }}");
                    charts['gauge_chart_{{ peripheral.pk }}_{{ quantity_type.pk }}'] = gauge_chart_{{ peripheral.pk }}_{{ quantity_type.pk }};
                    
                {% endfor %}
                
                {# Measurement process functions #}
                function process_real_time_measurement(measurement) {
                    var gauge_chart = charts['gauge_chart_' + measurement.peripheral + '_' + measurement.quantity_type];
                    
                    gauge_chart.load({
                        columns: [
                            ['data', measurement.value]
                        ]
                    });
                }
                
                function process_reduced_measurement(measurement) {
                    var currentdate = new Date(); 
                
                    var line_chart = charts['line_chart_' + measurement.peripheral + '_' + measurement.quantity_type];
                    
                    // Keep at most 50 data points in the plot
                    var pop = 0;
                    var existing_data_points = line_chart.data()[0].values.length;
                    if (existing_data_points >= 50) {
                        pop = existing_data_points - 50 + 1;
                    }
                    
                    line_chart.flow({
                        columns: [
                            ['x', new Date(measurement.date_time)],
                            [measurement.physical_quantity, measurement.value]
                        ],
                        length: pop
                    });
                }
                
                {# Connect to websocket #}
                var wsProtocol = location.protocol == 'https:' ? 'wss:' : 'ws:';
                var ws = new ReconnectingWebSocket(wsProtocol + "//" + location.host);

                ws.onmessage = function(str) {
                    var data = JSON.parse(str.data);
                    console.log("Received: ", data);
                    
                    if(!data.measurement || !data.measurement_type) {
                        // Not a measurement
                        return;
                    }
                    
                    if(data.measurement_type == "REAL_TIME")
                    {
                        process_real_time_measurement(data.measurement);
                    } else if (data.measurement_type == "REDUCED") {
                        process_reduced_measurement(data.measurement);
                    }
                };

                {# Subscribe to websocket #}
                ws.onopen = function() {
                    ws.send(JSON.stringify({
                        stream: 'measurements-subscribe',
                        payload: {
                            action: 'subscribe',
                            kit: '{{ kit.username }}'
                        }
                    }));
                }
            </script>
        {% endwith %}
    {% endif %}
{% endblock %}
