{% extends 'website/kit_configure_base.html' %}

{% load static %}
{% load bootstrap3 %}
{% load website_extras %}

{% block head_ext %}
    {{ block.super }}

    <script src="{% static 'website/bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]'
            });
        });
    </script>
    
    {{ form.media }}
{% endblock %}

{% block config_header %} 
    Members
{% endblock %}

{% block config_content %}
    <form method="post">
        {% csrf_token %}
    
        {% for membership in memberships %}
            <div class="members-user">
                <div class="user">
                    {% user_with_avatar membership.user %}
                </div>
                <div class="controls">
                    <button type="submit" name="remove_user" value="{{ membership.user.pk }}" class="btn btn-danger" data-toggle="confirmation">
                        {% bootstrap_icon "remove" %} Remove
                    </button>
                </div>
            </div>
            <hr>
        {% endfor %}
    </form>
    
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        {% buttons %}
            <button type="submit" name="add_user" value="add_user" class="btn btn-primary" style="width: 100%;">
                {% bootstrap_icon "plus" %} Add user
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
