{% extends 'website/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block head_ext %}
    <link rel="stylesheet" href="{% static 'website/css/kitconfig.css' %}">
{% endblock %}

{% block header %}
    <h1>{{ kit.name }}</h1>
    <p>{{ kit.description }}</p>
{% endblock %}


{% block content %}       
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="panel-group menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Kit settings</h4>
                        </div>
                        <div class="panel-body">
                            <div class="menu-item active">
                                Placeholder
                            </div>
                            <div class="menu-item">
                                Placeholder
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 config-content">
                {% block config_content %}
                {% endblock %}
            </div>
        
        </div>
    </div>
{% endblock %}
