{% extends 'website/kit_configure_base.html' %}

{% load bootstrap4 %}
{% load website_extras %}

{% block title %}Profile | {{ block.super }}{% endblock %}

{% block config_header %} 
    Profile
{% endblock %}

{% block config_content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% icon "check" %} Save
            </button>
        {% endbuttons %}
    </form>
{% endblock %}