{% extends 'website/base.html' %}

{% load static %}
{% load website_extras %}

{% block title %}Kit configuration - {{ block.super }}{% endblock %}

{% block head_ext %}
    <link rel="stylesheet" href="{% static 'website/css/kitconfig.css' %}">
{% endblock %}

{% block header %}
    <h1>Kit configuration</h1>
    <p>{{ kit.name }}</p>
{% endblock %}


{% block content %}       
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <nav>
                    <div class="card-group menu">
                        <div class="card">
                            <div class="card-header text-muted">
                                Kit settings
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item {% navigation_active request 'website:kit_configure_profile' %}">
                                    <a href="{% url 'website:kit_configure_profile' kit.pk %}">Profile</a>
                                </li>
                                <li class="list-group-item {% navigation_active request 'website:kit_configure_members' %}">
                                    <a href="{% url 'website:kit_configure_members' kit.pk %}">Members</a>
                                </li>
                                <li class="list-group-item {% navigation_active request 'website:kit_configure_location' %}">
                                    <a href="{% url 'website:kit_configure_location' kit.pk %}">Location</a>
                                </li>
                                <li class="list-group-item {% navigation_active request 'website:kit_configure_sensors website:kit_configure_sensors_add website:kit_configure_sensors_add_step2' %}">
                                    <a href="{% url 'website:kit_configure_sensors' kit.pk %}">Sensors</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Actuators</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Growth recipe</a>
                                </li>
                                <li class="list-group-item {% navigation_active request 'website:kit_configure_access' %}">
                                    <a href="{% url 'website:kit_configure_access' kit.pk %}">Access</a>
                                </li>
                                <li class="list-group-item {% navigation_active request 'website:kit_configure_danger_zone' %}">
                                    <a href="{% url 'website:kit_configure_danger_zone' kit.pk %}">Danger zone</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9">
                <section class="config">
                    <header class="config-header">
                        <h2>{% block config_header %}{% endblock %}</h2>
                    </header>
                
                    <div class="config-content">
                        {% block config_content %}
                        {% endblock %}
                    </div>
                </section>
            </div>
        
        </div>
    </div>
{% endblock %}
