{% extends 'website/base.html' %}

{% load static %}
{% load bootstrap3 %}
{% load website_extras %}

{% block head_ext %}
    <link rel="stylesheet" href="{% static 'website/css/kitconfig.css' %}">
{% endblock %}

{% block header %}
    <h1>Kit configuration</h1>
    <p>{{ kit.name }}</p>
{% endblock %}


{% block content %}       
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <nav>
                    <div class="panel-group menu">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Kit settings</h4>
                            </div>
                            <div class="panel-body">
                                <div class="menu-item {% navigation_active request 'website:kit_configure_profile' %}">
                                    <a href="{% url 'website:kit_configure_profile' kit.pk %}">Profile</a>
                                </div>
                                <div class="menu-item {% navigation_active request 'website:kit_configure_members' %}">
                                    <a href="{% url 'website:kit_configure_members' kit.pk %}">Members</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Location</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sensors</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Actuators</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Growth recipe</a>
                                </div>
                                <div class="menu-item {% navigation_active request 'website:kit_configure_access' %}">
                                    <a href="{% url 'website:kit_configure_access' kit.pk %}">Access</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-xs-9">
                <section class="config">
                    <header class="config-header">
                        <h2>{% block config_header %}{% endblock %}</h2>
                    </header>
                
                    <div class="config-content">
                        {% block config_content %}
                        {% endblock %}
                    </div>
                </section>
            </div>
        
        </div>
    </div>
{% endblock %}
