{% extends 'website/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block head_ext %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
       integrity="sha384-roIisdke7t73jKsr2CM69N0uJch+a+lQBCuw3Li2ZuLKaWn46fxTAp31h9VA4odd"
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
        integrity="sha384-9fzrQY4JobN87hT5sQ0JnL9XZQ5q94Qj46ZFqpcBzz03D3UDKAkN/pKct1IVlP2Y"
        crossorigin=""></script>
        
    <style>
        #leaflet-map { height: 650px; }
    </style>
{% endblock %}

{% block header %}

    <h1>Map</h1>
    <p>See where AstroPlant kits are located around the world.</p>

{% endblock %}

{% block content %}
    <div class="container">
        <div id="leaflet-map"></div>
    </div>

    <script>
        var map = L.map('leaflet-map');
        
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            maxZoom: 18
        }).addTo(map);
        
        var markers = [];
        
        {% for kit in kits %}
            {% if kit.latitude and kit.longitude %}
                var marker = L.marker([{{ kit.latitude }}, {{ kit.longitude }}]);
                {% if kit.privacy_public_dashboard %}
                    marker.bindPopup('<h3>{{ kit.name }}</h3><p>{{ kit.description }}</p><p><a href="{% url 'website:kit' kit.id %}" title="Access kit" type="button" class="btn btn-primary" style="color: #fff;">{% bootstrap_icon 'triangle-right' %} Open</a></p>');
                {% else %}
                    marker.bindPopup('<h3>{{ kit.name }}</h3><p>{{ kit.description }}</p>');
                {% endif %}
                marker.addTo(map);
                markers.push(marker);
            {% endif %}
        {% endfor %}
        
        var group = new L.featureGroup(markers);
        
        if (markers.length == 0) {
            map.fitWorld();
        } else {
            map.fitBounds(group.getBounds(), {maxZoom: 8});
        }
    </script>
{% endblock %}
