{% extends 'website/base.html' %}

{% load bootstrap4 %}
{% load website_extras %}

{% block title %}Configure peripheral device definition - {{ block.super }}{% endblock %}

{% block header %}
    <h1>{{ peripheral_definition.name }}</h1>
    <p>Configure peripheral device definition</p>
{% endblock %}

{% block content %}
    <div class="container">
        <p>Please update the definition for peripheral device <em>{{ peripheral_definition.name }}</em>.</p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            
            <h2>Peripheral device configuration definitions</h2>
            <div id="peripheral-configuration-definitions">
                {% bootstrap_formset form_set layout='horizontal' %}
            </div>
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% icon "check" %} Save
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
