{% extends 'website/base.html' %}

{% load bootstrap4 %}
{% load website_extras %}

{% block header %}
    <h1>Add a peripheral device definition</h1>
    <p></p>
{% endblock %}


{% block content %}
    <div class="container">
        <p>Please enter the basic peripheral device information below. Peripheral device configurations will be defined in the next step.</p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% icon "plus" %} Add
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
