{% extends 'website/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block header %}
    <h1>Configure sensor definition</h1>
    <p>Sensor: {{ sensor_definition.name }}</p>
{% endblock %}

{% block content %}
    <div class="container">
        <p>Please update the sensor definition for sensor <em>{{ sensor_definition.name }}</em>.</p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            
            <h2>Sensor configuration definitions</h2>
            <div id="sensor-configuration-definitions">
                {% bootstrap_formset form_set layout='horizontal' %}
            </div>
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "ok" %} Save
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
