{% extends 'website/base.html' %}

{% load static %}
{% load bootstrap3 %}
{% load rules %}

{% block title %}Sensor definitions - {{ block.super }}{% endblock %}

{% block head_ext %}
    <link rel="stylesheet" href="{% static 'website/css/sensors.css' %}">
{% endblock %}

{% block header %}
    <h1>Sensor definitions</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% for sensor_definition in sensor_definitions %}
            {% has_perm 'backend.view_sensor_definition' user sensor_definition as can_view %}
            {% has_perm 'backend.edit_sensor_definition' user sensor_definition as can_edit %}
            
            {% if can_view %}
                <div class="sensor-definition">
                    <div class="sensor-definition-header" title="{% if sensor_definition.verified %}Verified sensor{% else %}Unverified sensor{% endif %}">
                        <span class="sensor-definition-mark">
                            {% if sensor_definition.verified %}
                                <span class="sensor-definition-mark-verified">{% bootstrap_icon "ok-sign" %}</span>
                            {% else %}
                                <span class="sensor-definition-mark-unverified">{% bootstrap_icon "question-sign" %}</span>
                            {% endif %}
                        </span>
                        
                        <span class="sensor-definition-name">
                            {{ sensor_definition.name }} 
                        </span>
                    </div>
                    <div class="sensor-definition-public">
                        {% if sensor_definition.public %}
                            Public
                        {% else %}
                            Private
                        {% endif %}
                    </div>
                    {% if sensor_definition.owner %}
                        <div class="sensor-definition-owner">
                            Maintainer: {{ sensor_definition.owner }}
                        </div>
                    {% endif %}
                    
                    {% if can_edit %}
                        <p><a href="{% url 'website:sensor_definition_configure' sensor_definition.pk %}">{% bootstrap_icon 'edit' %} Configure definition</a></p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
