# Project
tmp/
server/secretsettings.py
website/static/website/css
website/static/website/js
website/static/website/files

# Python / Django
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
migrations

# Node
node_modules/

# Visual studio
*.sln
*.pyproj
*.vs/
*.pyproj.*

# Jetbrains
.idea/
