/*
 * Based on: https://github.com/keen/dashboards
 */
.dashboard .chart-wrapper {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.dashboard .chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: RGB(102, 102, 102);
  font-size: 1.1em;
  padding: 0.5rem 1.2rem 0.4rem;
}
.dashboard .chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 0.5rem 1.2rem;
  position: relative;
}
.dashboard .chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: RGB(140, 140, 140);
  font-size: 0.85em;
  padding: 0.3rem 1.2rem 0.2rem;
}
