.config-header {
  border-bottom: 1px solid RGB(221, 221, 221);
  margin-bottom: 1em;
}
.config-header h1, .config-header h2, .config-header h3, .config-header h4, .config-header h5, .config-header h6 {
  margin-top: 2px;
}

.members-user:before, .members-user:after {
  content: "";
  display: table;
}
.members-user:after {
  clear: both;
}
.members-user .user {
  float: left;
}
.members-user .user .avatar {
  margin-right: 0.5em;
  display: inline;
}
.members-user .user .username {
  display: inline;
  font-size: 1.2em;
}
.members-user .controls {
  float: right;
}
