{% extends 'website/base.html' %}

{% load bootstrap4 %}
{% load website_extras %}

{% block header %}
    <h1>Log in</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <p>Please provide your login details below.</p>
    
        <form action="{% url 'auth_login' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% icon "sign-in" %} Log in
                </button>
            {% endbuttons %}
        </form>
        
        <p><a href="{% url 'auth_password_reset' %}">I have forgotten my password.</a></p>
    </div>
    
{% endblock %}
