{% extends 'website/base.html' %}

{% load bootstrap3 %}

{% block header %}

    <h1>Password reset confirmation</h1>

{% endblock %}

{% block content %}

    <div class="container">

        {% if validlink %}

            <p>Please enter your new password.</p>
        
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Set new password
                    </button>
                {% endbuttons %}
            </form>

        {% else %}

            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

        {% endif %}
    
    </div>

{% endblock %}
