{% extends 'website/base.html' %}

{% load bootstrap4 %}
{% load website_extras %}

{% block header %}
    <h1>Change your password</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% icon "ok" %} Change password
                </button>
            {% endbuttons %}
        </form>
    </div>
    
{% endblock %}
