{% extends 'website/base.html' %}

{% load bootstrap4 %}
{% load website_extras %}

{% block header %}
    <h1>Password reset</h1>
{% endblock %}

{% block content %}

    <div class="container">
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% icon "envelope" %} Send reset instructions
                </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}
