{% extends 'website/base.html' %}

{% load bootstrap4 %}
{% load website_extras %}

{% block header %}

    <h1>Register</h1>
    <p>Create an account to connect to the AstroPlant world.</p>

{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url 'registration_register' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% icon "user-plus" %} Sign up
                </button>
            {% endbuttons %}
        </form>
    </div>
    
{% endblock %}
