/*
 * Based on: https://github.com/keen/dashboards
 */
 
@import "~c3/c3.min.css";
@import "variables.scss";

.dashboard {
    .chart-wrapper {
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        margin-bottom: 10px;
        
        .chart-title {
            border-bottom: 1px solid #d7d7d7;
            color: $textColorGray;
            font-size: 1.1em;
            padding: 0.5rem 1.2rem 0.4rem;
        }
        
        .chart-stage {
            overflow: hidden;
            padding: 0.5rem 1.2rem;
            position: relative;
        }
        
        .chart-notes {
            background: #fbfbfb;
            border-top: 1px solid #e2e2e2;
            color: $textColorLightGray;
            font-size: 0.85em;
            padding: 0.3rem 1.2rem 0.2rem;
        }
    }
}
