@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "../css/bootstrap-stacked-tabs.min.css";

@import "variables.scss";

html, body {
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    
    p {
        font-size: 1rem;
        line-height: 1.8;
    }
}

#{headings(1,6)} {
    font-family: 'roboto', sans-serif;
}

/* Header and navigation bar */
nav#main-navbar {
    padding: 0;
    
    .navbar-toggler {
        height: 38px;
        color: $textColorGray;
        
        &:hover {
            background-color: #f9f9f9;
            border: 1px solid #f7f7f7;
        }
    }
    
    #main-navbar-items {
        @include media-breakpoint-up(lg) { 
            border-left: 1px solid $borderColorLightGray;
        }
    }
    
    li {
        padding: 0.3em;
    
        &.active {
            background-color: rgb(245, 245, 245);
        }
    }
    
    img.avatar {
        margin-top: -15px; /* Ignore parent nav > li > a padding */
        margin-bottom: -15px;
        margin-right: 10px;
    }
}

/* Panel group menus */

.card-group.menu {
    .list-group-item {
        padding: 0.5em;
        
        &, &.active {
            border: none;
            border-radius: 0 !important; /* override bootstrap */
            
            &+ .list-group-item {
                border-top: 1px solid $borderColorLightGray;
            }
        }
        
        &.active {
            background-color: inherit;
            
            font-weight: bold;
            padding-left: calc(0.5em - 2px);
            border-left: 2px solid $colorDarkRed;
        }
    }
}

/* Main content */ 

.content-header {
    padding: 30px;
    color: $textColorLight;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    background-image: linear-gradient(to top left, #3dadbf 0, #2577a1 85%);
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

main {
    margin-bottom: 2.5em;
}

/* Avatars and users */

.user {
    .avatar {
        margin-right: 0.5em;
        border-radius: 3px;
    }
    
    .username {
        display: inline;
    }
}

/* Footer */

footer {
    padding: 4em 0 4em;
    /*color: rgb(130, 129, 122);
    background-color: rgb(45,41,48);*/
    color: $textColorLightGray;
    background-color: rgb(245, 245, 245);
    
    a {
        color: $textColorLightGray;
        text-decoration: underline;
        
        &:hover {
            color: $textColorGray;
        }
    }
}

/* Forms */
.form-group {
    overflow: auto;
}

textarea.form-control {
    height: 7.5em;
}

/* Other entities */
.fa {
    margin-right: 0.3em;
}

@import "select2override.scss";
