@import "variables.scss";

.sensor-definition
{
    padding: 1.5em;
    border-bottom: 1px solid #eaeaea;
    
    div
    {
        margin-bottom: 0.5em;
    }
    
    .sensor-definition-mark
    {
        font-size: 1.35em;
    }

    .sensor-definition-mark-verified
    {
        color: #6090f0;
    }

    .sensor-definition-mark-unverified
    {
        color: #f09060;
    }

    .sensor-definition-name
    {
        vertical-align: text-bottom;
        font-weight: bold;
    }
}
